.vote_cast_container {

  .vote_coast_list_wrp {
    padding: 0 20px;
  }

  .vote_cast_progress_wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}