.vote_form {
  display: flex;
  flex-direction: column;

  .vote_form_item {
    margin-bottom: 12px;
  }

  .vote_form_item_container {
    margin: 20px 0 14px;

    .vote_form_item_title {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.54);
    }

    .vote_form_item_list {
      margin-top: 8px;
    }
  }

  .vote_form_vote_item_contorl {
    display: flex;

    .vote_itme_control_add {
      flex: 1
    }
  }

  .vote_form_control {
    margin-top: 30px ;
    margin-left: auto;
  }
}